@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

:root {
  --base-clr: #11161D;
  --primary-clr: #8512E2;
  --accent-clr: #1FCEE5;
  --neutral-crl: #F3F3F3;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

.recording svg{
  fill: red;
}

.visualizer {
  padding: 1rem;
}