@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

:root {
  --base-dark-clr: #0b0f14;
  --base-ligth-clr: #141b24;
  --primary-clr: #8e48fd;
  --accent-clr: #3dd6eb;
  --neutral-clr: #F3F3F3;
  --scroll-thumb-clr: #161e27;
  --scroll-thumb-hover: #1f2935aa;
  --text-clr: #f3f3f3c7;
  --fs-100: 1rem;
  --fs-200: 1.1rem;
  --fs-300: 1.5rem;
  --fs-400: 2rem;
  --fs-500: 3rem;
  --fs-600: 4.2rem;
}

/* Basic set up */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

html {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: var(--scroll-thumb-clr);
  border-radius: 50px;
  border: 2px solid var(--base-clr);
}
::-webkit-scrollbar-thumb:hover {
  background-color: var(--scroll-thumb-hover);
}

body {
  background-color: var(--base-dark-clr);
  color: var(--neutral-clr);
  overflow-x: hidden;
}

.container {
  max-width: clamp(300px, 100vw , 1300px);
  /* border: 1px solid red; */
  margin-inline: auto;
  padding-inline: 1.1rem;
}

.full-height {
  min-height: 100dvh;
}

.divider {
  border: 1px solid var(--base-ligth-clr);
  max-width: 100%;
  margin-inline: auto;
  margin-block: 3rem;
}

/* Primary Header */

.primary-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-block: 0.8rem;
}

.logo {
  font-size: var(--fs-400);
  font-weight: 700;
  text-decoration: none;
  color: var(--neutral-clr);
  padding: 0.4em 0;
}

.logo span {
  color: var(--primary-clr);
}

.primary-nav {
  position: relative;
  display: flex;
  list-style: none;
  gap: 2.2rem;
}

.menu-item{
  font-size: var(--fs-200);
  text-decoration: none;
  color: var(--neutral-clr);
  padding: 0.4em 0.5em;
}

.menu-item:hover {
  color: var(--text-clr);
}

/* hamburguer menu */
.hamburger {
  display: none;
  z-index: 9999;
}

@media screen and (max-width: 62rem) {
  .primary-nav {
    z-index: 100;
    position: fixed;
    inset: 0 0 0 0rem;
    flex-direction: column;
    justify-content: center;
    background-color: var(--base-ligth-clr);
    padding-inline: 2rem;
    padding-block: clamp(10rem, 10vh, 20rem);
    transform: translateX(100%);
    transition: transform 0.3s ease-in;
  }
  
  .expand {
    transform: translateX(0%);
  }
  
  .primary-nav li {
    width: 100%;
    text-align: center;
    font-weight: 700;
  }

  .menu-item {
    display: block;
  }

  .hamburger {
    position: absolute;
    top: 1.5rem;
    right: 1.5rem;
    display: block;
    background-color: transparent;
    border: none;
    background-image: url("../assets/menu.svg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 2rem;
    aspect-ratio: 1;
  }

  .hamburger[aria-expanded="true"] {
    background-image: url("../assets/close.svg");
  }
} 



/* Hero Section */
.hero-section {
  display: flex;
  padding-block: 4rem;
  min-height: 100svh;
}

.hero-image {
  display: none;
}

.hero-title {
  font-size: var(--fs-600);
  font-weight: 900; 
  color: var(--primary-clr);
  padding-top: 2.5rem;
  text-wrap: balance;
}

.hero-info p {
  font-size: var(--fs-100);
  color: var(--text-clr);
  line-height: 1.5rem;
  padding-block: 2.5rem;
}

.hero-action-btn {
  text-decoration: none;
  font-size: var(--fs-200);
  font-weight: 700;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: fit-content;
  color: var(--accent-clr);
  fill: var(--accent-clr);
  padding: 0.8em 1.4em;
  border: 1px solid var(--accent-clr);
  border-radius: 50px;
  transition: background-color 0.4s;
}

.hero-action-btn:hover {
  background-color: var(--accent-clr);
  color: var(--base-dark-clr);
  fill: var(--base-dark-clr);
}

@media (min-width: 1000px) {
  .hero-image {
    display: block;
  }
  .hero-info,
  .hero-image{
    flex: 1;
  }
}
/* Main App */
.main-application {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-block: 9rem;
}

.main-application > * {
  width: 100%;
}

/* .visualizer {
  visibility: hidden;
} */

h2 {
  text-align: center;
}
.recorder {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* About Section */

.about-section {
  padding-block: 2rem;
}

.about-title-2 {
  font-size: calc(var(--fs-500) - 0.5rem);
  font-weight: 900;
  color: var(--primary-clr);
  padding-bottom: 2rem;
  text-transform: uppercase;
}

.about-title-3 {
  font-size: var(--fs-300);
  padding-block: 0.5rem;
}


.about-info {
  font-size: var(--fs-100);
  color: var(--text-clr);
  margin-bottom: 1rem;
  line-height: 1.5rem;
}

.about-list {
  padding-inline: 2.5rem;
  margin-bottom: 1rem;
}

.about-item {
  font-size: var(--fs-100);
  color: var(--text-clr);
  padding-block: 0.8rem;
}

.about-item::marker {
  color: var(--accent-clr);
  font-size: 1.5rem;
}

/* Footer */

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-block: 1.5rem;
  background-color: var(--base-ligth-clr);
  color: var(--text-clr);
}

@media (max-width: 44rem) {
  .logo {
    font-size: var(--fs-300);
  }

  .hero-image {
    display: none;
  }

  .hero-title {
    font-size: var(--fs-500);
  }
}